/*
Lemonway DirectKit API 2.0

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v2
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)


// MoneyInsBNPLApiService MoneyInsBNPLApi service
type MoneyInsBNPLApiService service

type ApiMoneyInsCreateBnplPaymentRequest struct {
	ctx context.Context
	ApiService *MoneyInsBNPLApiService
	authorization *string
	pSUIPAddress *string
	createBnplPaymentInput *CreateBnplPaymentInput
	pSUAcceptLanguage *string
	pSUUserAgent *string
}

// Authorization bearer (OAuth 2)
func (r ApiMoneyInsCreateBnplPaymentRequest) Authorization(authorization string) ApiMoneyInsCreateBnplPaymentRequest {
	r.authorization = &authorization
	return r
}

// IP address of the final client (PSU).
func (r ApiMoneyInsCreateBnplPaymentRequest) PSUIPAddress(pSUIPAddress string) ApiMoneyInsCreateBnplPaymentRequest {
	r.pSUIPAddress = &pSUIPAddress
	return r
}

func (r ApiMoneyInsCreateBnplPaymentRequest) CreateBnplPaymentInput(createBnplPaymentInput CreateBnplPaymentInput) ApiMoneyInsCreateBnplPaymentRequest {
	r.createBnplPaymentInput = &createBnplPaymentInput
	return r
}

// Response language accepted by final client (PSU). English by default
func (r ApiMoneyInsCreateBnplPaymentRequest) PSUAcceptLanguage(pSUAcceptLanguage string) ApiMoneyInsCreateBnplPaymentRequest {
	r.pSUAcceptLanguage = &pSUAcceptLanguage
	return r
}

// User-agent of the final client (PSU).
func (r ApiMoneyInsCreateBnplPaymentRequest) PSUUserAgent(pSUUserAgent string) ApiMoneyInsCreateBnplPaymentRequest {
	r.pSUUserAgent = &pSUUserAgent
	return r
}


// Use Authorization from given provider. Overrides usage of manually set Authorization header.
// Auth type describes authorization type to use, like "Bearer" or "Basic"
func (r ApiMoneyInsCreateBnplPaymentRequest) AuthorizationFromProvider(authType AuthType) ApiMoneyInsCreateBnplPaymentRequest {
    r.ctx = context.WithValue(r.ctx, authorizationFromProviderCtxKey, authType)
    return r
}

// Use Basic Authorization from given provider. Overrides usage of manually set Authorization header.
func (r ApiMoneyInsCreateBnplPaymentRequest) AuthorizationBasicFromProvider() ApiMoneyInsCreateBnplPaymentRequest {
    return r.AuthorizationFromProvider(AuthTypeBasic)
}

// Use Bearer Authorization from given provider. Overrides usage of manually set Authorization header.
func (r ApiMoneyInsCreateBnplPaymentRequest) AuthorizationBearerFromProvider() ApiMoneyInsCreateBnplPaymentRequest {
    return r.AuthorizationFromProvider(AuthTypeBearer)
}

func (r ApiMoneyInsCreateBnplPaymentRequest) Execute() (*CreateBnplPaymentOutput, *http.Response, error) {
	return r.ApiService.MoneyInsCreateBnplPaymentExecute(r)
}

/*
MoneyInsCreateBnplPayment Create New Pending Payment

Depending on your activated payment plans this call will let you setup a new payment plan.  
Typical body parameters include: `paymentPlanId` , `accountId` , `deferredPaymentDate` , and `totalAmount`. 
Possible DeliveryMode values are: `CollectionOfTheGoodsInTheMerchantStore`, `CollectionInAThirdPartyPoint`, `DeliveryToCustomerAddress`
Possible PurchaseItem types are: `PhysicalGood`, `Discount`, `ShippingFee`, `DigitalGood`, `ExternalPayment`, `Insurance`
Possible Civlity types are: `Mr`, `Ms`

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiMoneyInsCreateBnplPaymentRequest
*/
func (a *MoneyInsBNPLApiService) MoneyInsCreateBnplPayment(ctx context.Context) ApiMoneyInsCreateBnplPaymentRequest {
	return ApiMoneyInsCreateBnplPaymentRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateBnplPaymentOutput
func (a *MoneyInsBNPLApiService) MoneyInsCreateBnplPaymentExecute(r ApiMoneyInsCreateBnplPaymentRequest) (*CreateBnplPaymentOutput, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateBnplPaymentOutput
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MoneyInsBNPLApiService.MoneyInsCreateBnplPayment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/moneyins/buynowpaylater/init"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
    localAdditionalValues := make(map[string]interface{})

    if r.ctx != nil {
        if authProviderAuthType, ok := r.ctx.Value(authorizationFromProviderCtxKey).(AuthType); ok && authProviderAuthType != "" {
            token, err := a.client.authProvider.GetToken()
            if err != nil {
                return localVarReturnValue, nil, err
            }
            localAdditionalValues["authorization"] = string(authProviderAuthType)+" "+token
        }
    }
	if r.authorization == nil {
        value, ok := localAdditionalValues["authorization"].(string)
        if !ok {
            return localVarReturnValue, nil, reportError("authorization is required and must be specified")
        }
        r.authorization = &value
	}
	if r.pSUIPAddress == nil {
        value, ok := localAdditionalValues["pSUIPAddress"].(string)
        if !ok {
            return localVarReturnValue, nil, reportError("pSUIPAddress is required and must be specified")
        }
        r.pSUIPAddress = &value
	}
	if r.createBnplPaymentInput == nil {
        value, ok := localAdditionalValues["createBnplPaymentInput"].(CreateBnplPaymentInput)
        if !ok {
            return localVarReturnValue, nil, reportError("createBnplPaymentInput is required and must be specified")
        }
        r.createBnplPaymentInput = &value
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/json", "application/xml", "text/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHeaderParams["Authorization"] = parameterToString(*r.authorization, "")
	if r.pSUAcceptLanguage != nil {
		localVarHeaderParams["PSU-Accept-Language"] = parameterToString(*r.pSUAcceptLanguage, "")
	}
	localVarHeaderParams["PSU-IP-Address"] = parameterToString(*r.pSUIPAddress, "")
	if r.pSUUserAgent != nil {
		localVarHeaderParams["PSU-User-Agent"] = parameterToString(*r.pSUUserAgent, "")
	}
	// body params
	localVarPostBody = r.createBnplPaymentInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMoneyInsGetBnplPaymentPlansRequest struct {
	ctx context.Context
	ApiService *MoneyInsBNPLApiService
	authorization *string
	pSUIPAddress *string
	pSUAcceptLanguage *string
	pSUUserAgent *string
}

// Authorization bearer (OAuth 2)
func (r ApiMoneyInsGetBnplPaymentPlansRequest) Authorization(authorization string) ApiMoneyInsGetBnplPaymentPlansRequest {
	r.authorization = &authorization
	return r
}

// IP address of the final client (PSU).
func (r ApiMoneyInsGetBnplPaymentPlansRequest) PSUIPAddress(pSUIPAddress string) ApiMoneyInsGetBnplPaymentPlansRequest {
	r.pSUIPAddress = &pSUIPAddress
	return r
}

// Response language accepted by final client (PSU). English by default
func (r ApiMoneyInsGetBnplPaymentPlansRequest) PSUAcceptLanguage(pSUAcceptLanguage string) ApiMoneyInsGetBnplPaymentPlansRequest {
	r.pSUAcceptLanguage = &pSUAcceptLanguage
	return r
}

// User-agent of the final client (PSU).
func (r ApiMoneyInsGetBnplPaymentPlansRequest) PSUUserAgent(pSUUserAgent string) ApiMoneyInsGetBnplPaymentPlansRequest {
	r.pSUUserAgent = &pSUUserAgent
	return r
}


// Use Authorization from given provider. Overrides usage of manually set Authorization header.
// Auth type describes authorization type to use, like "Bearer" or "Basic"
func (r ApiMoneyInsGetBnplPaymentPlansRequest) AuthorizationFromProvider(authType AuthType) ApiMoneyInsGetBnplPaymentPlansRequest {
    r.ctx = context.WithValue(r.ctx, authorizationFromProviderCtxKey, authType)
    return r
}

// Use Basic Authorization from given provider. Overrides usage of manually set Authorization header.
func (r ApiMoneyInsGetBnplPaymentPlansRequest) AuthorizationBasicFromProvider() ApiMoneyInsGetBnplPaymentPlansRequest {
    return r.AuthorizationFromProvider(AuthTypeBasic)
}

// Use Bearer Authorization from given provider. Overrides usage of manually set Authorization header.
func (r ApiMoneyInsGetBnplPaymentPlansRequest) AuthorizationBearerFromProvider() ApiMoneyInsGetBnplPaymentPlansRequest {
    return r.AuthorizationFromProvider(AuthTypeBearer)
}

func (r ApiMoneyInsGetBnplPaymentPlansRequest) Execute() (*GetPaymentPlansOutput, *http.Response, error) {
	return r.ApiService.MoneyInsGetBnplPaymentPlansExecute(r)
}

/*
MoneyInsGetBnplPaymentPlans Get all Actived Payment Plans

Activated payment plans are summarized in a list that may consist of one, or more configured plans.  
We offer 15 and 30 day deferment plans, and pay 3x and 4x plans.  
**Note:** Payment plans are typically configured with a member of Lemonway's Implementation team.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiMoneyInsGetBnplPaymentPlansRequest
*/
func (a *MoneyInsBNPLApiService) MoneyInsGetBnplPaymentPlans(ctx context.Context) ApiMoneyInsGetBnplPaymentPlansRequest {
	return ApiMoneyInsGetBnplPaymentPlansRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetPaymentPlansOutput
func (a *MoneyInsBNPLApiService) MoneyInsGetBnplPaymentPlansExecute(r ApiMoneyInsGetBnplPaymentPlansRequest) (*GetPaymentPlansOutput, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetPaymentPlansOutput
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MoneyInsBNPLApiService.MoneyInsGetBnplPaymentPlans")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/moneyins/buynowpaylater/plans"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
    localAdditionalValues := make(map[string]interface{})

    if r.ctx != nil {
        if authProviderAuthType, ok := r.ctx.Value(authorizationFromProviderCtxKey).(AuthType); ok && authProviderAuthType != "" {
            token, err := a.client.authProvider.GetToken()
            if err != nil {
                return localVarReturnValue, nil, err
            }
            localAdditionalValues["authorization"] = string(authProviderAuthType)+" "+token
        }
    }
	if r.authorization == nil {
        value, ok := localAdditionalValues["authorization"].(string)
        if !ok {
            return localVarReturnValue, nil, reportError("authorization is required and must be specified")
        }
        r.authorization = &value
	}
	if r.pSUIPAddress == nil {
        value, ok := localAdditionalValues["pSUIPAddress"].(string)
        if !ok {
            return localVarReturnValue, nil, reportError("pSUIPAddress is required and must be specified")
        }
        r.pSUIPAddress = &value
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHeaderParams["Authorization"] = parameterToString(*r.authorization, "")
	if r.pSUAcceptLanguage != nil {
		localVarHeaderParams["PSU-Accept-Language"] = parameterToString(*r.pSUAcceptLanguage, "")
	}
	localVarHeaderParams["PSU-IP-Address"] = parameterToString(*r.pSUIPAddress, "")
	if r.pSUUserAgent != nil {
		localVarHeaderParams["PSU-User-Agent"] = parameterToString(*r.pSUUserAgent, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
