/*
Lemonway DirectKit API 2.0

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v2
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)


// DisputesApiService DisputesApi service
type DisputesApiService service

type ApiDisputesDisputesGetRequest struct {
	ctx context.Context
	ApiService *DisputesApiService
	updateDate *string
	authorization *string
	pSUIPAddress *string
	page *int32
	limit *int32
	pSUAcceptLanguage *string
	pSUUserAgent *string
}

// UTC Unix timestamp
func (r ApiDisputesDisputesGetRequest) UpdateDate(updateDate string) ApiDisputesDisputesGetRequest {
	r.updateDate = &updateDate
	return r
}

// Authorization bearer (OAuth 2)
func (r ApiDisputesDisputesGetRequest) Authorization(authorization string) ApiDisputesDisputesGetRequest {
	r.authorization = &authorization
	return r
}

// IP address of the final client (PSU).
func (r ApiDisputesDisputesGetRequest) PSUIPAddress(pSUIPAddress string) ApiDisputesDisputesGetRequest {
	r.pSUIPAddress = &pSUIPAddress
	return r
}

// Index start from 1, let null to get all
func (r ApiDisputesDisputesGetRequest) Page(page int32) ApiDisputesDisputesGetRequest {
	r.page = &page
	return r
}

// Default 20, let it null if no pagination
func (r ApiDisputesDisputesGetRequest) Limit(limit int32) ApiDisputesDisputesGetRequest {
	r.limit = &limit
	return r
}

// Response language accepted by final client (PSU). English by default
func (r ApiDisputesDisputesGetRequest) PSUAcceptLanguage(pSUAcceptLanguage string) ApiDisputesDisputesGetRequest {
	r.pSUAcceptLanguage = &pSUAcceptLanguage
	return r
}

// User-agent of the final client (PSU).
func (r ApiDisputesDisputesGetRequest) PSUUserAgent(pSUUserAgent string) ApiDisputesDisputesGetRequest {
	r.pSUUserAgent = &pSUUserAgent
	return r
}


// Use Authorization from given provider. Overrides usage of manually set Authorization header.
// Auth type describes authorization type to use, like "Bearer" or "Basic"
func (r ApiDisputesDisputesGetRequest) AuthorizationFromProvider(authType AuthType) ApiDisputesDisputesGetRequest {
    r.ctx = context.WithValue(r.ctx, authorizationFromProviderCtxKey, authType)
    return r
}

// Use Basic Authorization from given provider. Overrides usage of manually set Authorization header.
func (r ApiDisputesDisputesGetRequest) AuthorizationBasicFromProvider() ApiDisputesDisputesGetRequest {
    return r.AuthorizationFromProvider(AuthTypeBasic)
}

// Use Bearer Authorization from given provider. Overrides usage of manually set Authorization header.
func (r ApiDisputesDisputesGetRequest) AuthorizationBearerFromProvider() ApiDisputesDisputesGetRequest {
    return r.AuthorizationFromProvider(AuthTypeBearer)
}

func (r ApiDisputesDisputesGetRequest) Execute() (*GetChargebacksOutput, *http.Response, error) {
	return r.ApiService.DisputesDisputesGetExecute(r)
}

/*
DisputesDisputesGet Get list of disputes from a given date

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDisputesDisputesGetRequest
*/
func (a *DisputesApiService) DisputesDisputesGet(ctx context.Context) ApiDisputesDisputesGetRequest {
	return ApiDisputesDisputesGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetChargebacksOutput
func (a *DisputesApiService) DisputesDisputesGetExecute(r ApiDisputesDisputesGetRequest) (*GetChargebacksOutput, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetChargebacksOutput
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DisputesApiService.DisputesDisputesGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/disputes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
    localAdditionalValues := make(map[string]interface{})

    if r.ctx != nil {
        if authProviderAuthType, ok := r.ctx.Value(authorizationFromProviderCtxKey).(AuthType); ok && authProviderAuthType != "" {
            token, err := a.client.authProvider.GetToken()
            if err != nil {
                return localVarReturnValue, nil, &GenericOpenAPIError{
                    body: nil,
                    error: err.Error(),
                    model: localAdditionalValues,
                }
            }
            localAdditionalValues["authorization"] = string(authProviderAuthType)+" "+token
        }
    }
	if r.updateDate == nil {
        value, ok := localAdditionalValues["updateDate"].(string)
        if !ok {
            return localVarReturnValue, nil, reportError("updateDate is required and must be specified")
        }
        r.updateDate = &value
	}
	if r.authorization == nil {
        value, ok := localAdditionalValues["authorization"].(string)
        if !ok {
            return localVarReturnValue, nil, reportError("authorization is required and must be specified")
        }
        r.authorization = &value
	}
	if r.pSUIPAddress == nil {
        value, ok := localAdditionalValues["pSUIPAddress"].(string)
        if !ok {
            return localVarReturnValue, nil, reportError("pSUIPAddress is required and must be specified")
        }
        r.pSUIPAddress = &value
	}

	localVarQueryParams.Add("updateDate", parameterToString(*r.updateDate, ""))
	if r.page != nil {
		localVarQueryParams.Add("page", parameterToString(*r.page, ""))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHeaderParams["Authorization"] = parameterToString(*r.authorization, "")
	if r.pSUAcceptLanguage != nil {
		localVarHeaderParams["PSU-Accept-Language"] = parameterToString(*r.pSUAcceptLanguage, "")
	}
	localVarHeaderParams["PSU-IP-Address"] = parameterToString(*r.pSUIPAddress, "")
	if r.pSUUserAgent != nil {
		localVarHeaderParams["PSU-User-Agent"] = parameterToString(*r.pSUUserAgent, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
