openapi: 3.0.1
info:
  title: Lemonway DirectKit API 2.0
  version: v2
servers:
- url: https://sandbox-api.lemonway.fr/mb/drouot/dev/directkitrest
paths:
  /v2/accounts/{accountid}:
    get:
      description: "Enables your system to get detailed payment account information\
        \ including:   \r\n* Payment account balance   \r\n* Account type    \r\n\
        * Account status (if blocked or not) \r\n* Account email address"
      operationId: Accounts_AccountSingleGet
      parameters:
      - description: Account ID
        in: path
        name: accountid
        required: true
        schema:
          type: string
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                account:
                  id: "33612345678"
                  internalId: 3673
                  firstname: Jean
                  lastname: Dupont
                  balance: 2390
                  email: jean.dupont@email.com
                  status: 1
                  isblocked: true
                  accountType: 0
                  adresse: null
                  birth: null
                  isDebtor: false
                  payerOrBeneficiary: 1
              schema:
                $ref: '#/components/schemas/AccountDetailsOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Get Detailed Payment Account Data
      tags:
      - Accounts | Admin
  /v2/accounts/{accountid}/documents:
    get:
      description: "Returns the document ID, document status, and document type of\
        \ a users account.\r\n            \r\n**Note:** If you validate your Client's\
        \ documentation using Lemonway's automated KYC, you will not receive a `validityDate`\
        \ response."
      operationId: Accounts_DocumentGet
      parameters:
      - description: Account ID
        in: path
        name: accountid
        required: true
        schema:
          type: string
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                documents:
                - id: 843847
                  status: 0
                  type: 0
                  comment: null
              schema:
                $ref: '#/components/schemas/AccountDocumentsOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Get Documents Associated with a Payment Account
      tags:
      - Accounts | Admin
  /v2/accounts/{accountId}ultimateBeneficialOwner:
    get:
      description: This method enables you get all the Ultimate Beneficial Owners
        associated to a legal payment account.
      operationId: Accounts_GetUltimateBeneficialOwner
      parameters:
      - description: Account ID
        in: path
        name: accountId
        required: true
        schema:
          type: string
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                ultimateBeneficialOwners:
                - firstname: Jean
                  lastname: Dupont
                  nationality: null
                  dateOfBirth: null
                  cityOfBirth: null
                  countryOfBirth: null
                  countryOfResidence: null
                  startDate: 0
                  endDate: 0
                  ultimateBeneficialOwnerId: 0
              schema:
                $ref: '#/components/schemas/GetUltimateBeneficialOwnerOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Get all Ultimate Beneficial Owners associated to a payment account.
      tags:
      - Accounts | Create & KYC
  /v2/accounts/{accountId}/balances/history:
    get:
      description: "Enter an `accountId` and specify the `atDate` parameter to return\
        \ an account balance.  \r\n\r\n**Important:** Payment account balances can\
        \ not be viewed for special accounts SC **11** and LW **4** using the `accountId`\
        \ parameter."
      operationId: Accounts_BalancesHistoryGet
      parameters:
      - description: Account ID
        in: path
        name: accountId
        required: true
        schema:
          type: string
      - description: Request balance at given time in UTC Unix timestamp.
        in: query
        name: atDate
        schema:
          pattern: "^-?\\d{1,12}$"
          type: string
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                balance: 10010
              schema:
                $ref: '#/components/schemas/BalanceHistoryOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Get Payment Account Balance History
      tags:
      - Accounts | Admin
  /v2/accounts/kycstatus:
    get:
      description: "Use to find users, documents, IBAN for which the status has changed\
        \ since a specified date.  \r\n**Note:** Returns the same user multiple times\
        \ in the same request if his status has changed multiple time since a specified\
        \ date."
      operationId: Accounts_KycStatusGet
      parameters:
      - description: UTC Unix timestamp
        in: query
        name: updateDate
        required: true
        schema:
          pattern: "^-?\\d{1,12}$"
          type: string
      - description: "Index start from 1, let null to get all"
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: "Default 20, let it null if no pagination"
        in: query
        name: limit
        schema:
          format: int32
          type: integer
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                accounts:
                - id: "13"
                  status: 5
                  date: "1749028528"
              schema:
                $ref: '#/components/schemas/KycStatusOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: "Find a user, document or an IBAN that has been modified since an entry\
        \ date"
      tags:
      - Accounts | Create & KYC
  /v2/accounts/balances:
    get:
      description: "Use `GetBalances` to get all payment accounts where the balance\
        \ has changed since the input date, or all the balances of payment accounts\
        \ with internal ID between payment `accountIdStart` and payment `accountIdEnd`.\r\
        \n\r\n**Important:** Payment account balances can not be viewed for special\
        \ accounts SC **11** and LW **4** using the `accountId` parameter."
      operationId: Accounts_BalancesGet
      parameters:
      - description: "Date in UTC Seconds\r\nLeave empty to use payment account IDs."
        in: query
        name: updateDate
        schema:
          pattern: "^-?\\d{1,12}$"
          type: string
      - description: "First payment account internal ID, starting from 12."
        in: query
        name: internalAccountIdStart
        schema:
          format: int64
          pattern: "^\\d{1,19}$"
          type: integer
      - description: "Last payment account internal ID, starting from 12."
        in: query
        name: internalAccountIdEnd
        schema:
          format: int64
          pattern: "^\\d{1,19}$"
          type: integer
      - description: "Index start from 1, let null to get all"
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: "Default 20, let it null if no pagination"
        in: query
        name: limit
        schema:
          format: int32
          type: integer
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                accounts:
                - id: "20"
                  balance: 26100
                - id: "22"
                  balance: 100
              schema:
                $ref: '#/components/schemas/AccountBalanceOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Get all Payment Account Balances
      tags:
      - Accounts | Admin
  /v2/accounts/{accountId}/transactions:
    get:
      description: "Use the `GetWalletTransHistory` to retrieve the list of **Money-In**,\
        \ **Money-Out** and **P2P (payment between payment account)** of a given payment\
        \ account.\r\nThe following numbered list corresponds to the payment type\
        \ specified in the response attribute method:  \r\n\r\n0 Card  \r\n1 Bank\
        \ transfer (MoneyIn)   \r\n3 Bank transfer (MoneyOut)   \r\n4 P2P  \r\n13\
        \ iDEAL  \r\n14 SEPA DirectDebit  \r\n15 Cheque  \r\n19 Multibanco  \r\n35\
        \ PayPal\r\n\r\n\r\n ---\r\n **Important:** The following services have been\
        \ discontinued. \r\n \r\n16 Neosurf  \r\n17 Sofort  \r\n18 PFS Physical Card\
        \  \r\n20 Payshop  \r\n21 MBWAY  \r\n22 Polish Instant Transfer  \r\n23 Pagare\
        \   \r\n24 MobilePay  \r\n25 Paytrail  \r\n26 WeChat  \r\n27 P24  \r\n28 MoneyIn\
        \ by TPE  \r\n29 Trustly"
      operationId: Accounts_TransactionsGet
      parameters:
      - description: Account ID
        in: path
        name: accountId
        required: true
        schema:
          type: string
      - description: "UTC Unix timestamp\r\nIn order to return transactions initialized\
          \ after `startDate`.\r\nIf the payment account is a **SC Wallet** then this\
          \ value is mandatory."
        in: query
        name: startDate
        schema:
          pattern: "^-?\\d{1,12}$"
          type: string
      - description: "UTC Unix timestamp\r\nIn order to return transactions initialized\
          \ before `endDate`.\r\nIf the payment account is a **SC Wallet** then this\
          \ value is mandatory and the time span can not exceed 1 week."
        in: query
        name: endDate
        schema:
          pattern: "^-?\\d{1,12}$"
          type: string
      - description: "UTC Unix timestamp\r\nIn order to return transactions Executed\
          \ after `endDate`.\r\nIf the payment account is a **SC Wallet** then this\
          \ value is mandatory and the time span can not exceed 1 week."
        in: query
        name: executionDateStart
        schema:
          pattern: "^-?\\d{1,12}$"
          type: string
      - description: "UTC Unix timestamp\r\nIn order to return transactions Executed\
          \ before `endDate`\r\nIf the payment account is a **SC Wallet** then this\
          \ value is mandatory and the time span can not exceed 1 week."
        in: query
        name: executionDateEnd
        schema:
          pattern: "^-?\\d{1,12}$"
          type: string
      - description: "Index start from 1, let null to get all"
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: "Default 20, let it null if no pagination"
        in: query
        name: limit
        schema:
          format: int32
          type: integer
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                transactions:
                  value:
                  - transactionIn:
                      receiverAccountId: pizza
                      creditAmount: 1500
                      scheduledDate: 2015/12/31
                      scheduledNumber: null
                      PSP:
                        message: 05-00-05 ERR_PSP_REFUSED
                      card:
                        id: 0
                        is3DS: true
                        country: FRA
                        maskedNumber: "455622"
                        isRegistered: false
                        holderName: Peter PAN
                      refundAmount: 1500.0
                      bankReference: null
                      ChequeSendingAddress_CorporateName: null
                      ChequeSendingAddress_Street: null
                      ChequeSendingAddress_City: null
                      ChequeSendingAddress_PostCode: null
                      id: 255
                      method: 0
                      date: 1749028528
                      commissionAmount: 200
                      comment: Order number 245776
                      status: 0
                      executionDate: 0
                      reference: null
              schema:
                $ref: '#/components/schemas/AccountKycStatusOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Get list of all Payment Account transactions
      tags:
      - Accounts | Admin
  /v2/accounts/legal/{accountid}:
    put:
      description: "This method enables you to update information relating to a **legal**\
        \ client payment account.  \r\n1. The client enters their new data.  \r\n\
        2. The client calls the Lemonway Webservice.  \r\n3. Lemonway records data\
        \ when it exists.  \r\n4. The application processes Lemonway's response and\
        \ displays a confirmation message."
      operationId: Accounts_LegalSinglePut
      parameters:
      - description: Account ID
        in: path
        name: accountid
        required: true
        schema:
          type: string
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLegalAccountDetailsInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                account:
                  id: Account1234
                  lemonwayId: 13
              schema:
                $ref: '#/components/schemas/UpdateLegalAccountDetailsOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Update Legal Payment Account Data
      tags:
      - Accounts | Update
      x-codegen-request-body-name: parameters
  /v2/accounts/{accountid}/blocked:
    put:
      operationId: Accounts_BlockedPut
      parameters:
      - description: Account ID
        in: path
        name: accountid
        required: true
        schema:
          type: string
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountBlockedInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                account:
                  id: ExternalUserId
                  isBlocked: true
              schema:
                $ref: '#/components/schemas/AccountBlockedOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Block or Unblock an Account
      tags:
      - Accounts | Admin
      x-codegen-request-body-name: parameters
  /v2/accounts/kycstatus/{accountid}:
    put:
      description: "Allows certain payment account statuses to be updated. \r\n\r\n\
        - To close an account (status 12), the account must have zero balance.  \r\
        \n- An account status can not be changed to bypass the KYC process. KYC statuses\
        \ are updated by Lemonway.  \r\n- If an account is closed in status 6 (KYC\
        \ 2) and you would like to reopen it, you must send a support request to Lemonway.\
        \  \r\n\r\nYou can view all account statues [here.](https://documentation.lemonway.com/reference/wallet-status)\
        \  \r\n\r\n**Note:** This feature is subject to your contract."
      operationId: Accounts_KycstatusPut
      parameters:
      - description: Account ID
        in: path
        name: accountid
        required: true
        schema:
          type: string
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountStatusInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                account:
                  id: ExternalUserId
                  status: 6
              schema:
                $ref: '#/components/schemas/UpdateAccountStatusOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Update Payment Account Status
      tags:
      - Accounts | Update
      x-codegen-request-body-name: parameters
  /v2/accounts/individual/{accountid}:
    put:
      description: "Enables you to update information related to a client payment\
        \ account.  \r\n1. The client enters their new data.  \r\n2. The client calls\
        \ the Lemonway Webservice.  \r\n3. Lemonway records data when it exists. \
        \ \r\n4. The application processes Lemonway's response and displays a confirmation\
        \ message."
      operationId: Accounts_IndividualPut
      parameters:
      - description: Account ID
        in: path
        name: accountid
        required: true
        schema:
          type: string
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIndividualAccountDetailsInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                account:
                  id: Account1234
                  internalId: 13
              schema:
                $ref: '#/components/schemas/UpdateIndividualAccountDetailsOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Update Individual Payment Account Data
      tags:
      - Accounts | Update
      x-codegen-request-body-name: parameters
  /v2/accounts/{accountId}/ultimateBeneficialOwner/{UltimateBeneficialOwnerId}:
    put:
      description: This method enables you to update information related to an Ultimate
        Beneficial Owner.
      operationId: Accounts_UpdateUltimateBeneficialOwner
      parameters:
      - description: Account ID
        in: path
        name: accountId
        required: true
        schema:
          type: string
      - description: UltimateBeneficial Owner ID
        in: path
        name: UltimateBeneficialOwnerId
        required: true
        schema:
          format: int64
          type: integer
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUltimateBeneficialOwnerInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                ultimateBeneficialOwnerId: 0
              schema:
                $ref: '#/components/schemas/UpdateUltimateBeneficialOwnerOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Update Ultimate Beneficial Owner data
      tags:
      - Accounts | Create & KYC
      x-codegen-request-body-name: parameters
  /v2/accounts/legal:
    post:
      description: "Lets you to create a legal payment account:      \r\n1. Your client\
        \ enter their data on your platform, for example on their profile space. \
        \  \r\n2. Your server calls our Accounts API.  \r\n3. Lemonway creates the\
        \ payment account in your environment.     \r\n4. Your system reads the method\
        \ response and informs the user.    \r\n\r\nWe apply validation rules for\
        \ different parameters.   \r\n\r\n**Check Injection:**    \r\n* String parameters\
        \ (email, name and so on) must not contain odd characters.\r\n\r\n**Names\
        \ (first and last name)**  \r\n\r\n* Not made-up names: \"name\", \"nom\"\
        , \"prénom\", \"prenom\", \"lastname\", \"last_name\", \"last name\", \"firstname\"\
        , \"first_name\", \"first name\", \"name\", \"test\", \"unknow\"    \r\n*\
        \ Names must have at least 2 characters with at least 1 vowel  \r\n* The first\
        \ name must not be the same as the last name  \r\n* Using the same the same\
        \ character 3 times in a row will cause an error  \r\n* We might apply other\
        \ validation rules, for example: in the case VIP (politician)"
      operationId: Accounts_LegalPost
      parameters:
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterLegalAccountInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                legalAccount:
                  id: Account1234
                  lemonwayId: 13
              schema:
                $ref: '#/components/schemas/RegisterLegalAccountOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Create a New Legal Account
      tags:
      - Accounts | Create & KYC
      x-codegen-request-body-name: parameters
  /v2/accounts/individual:
    post:
      description: "Lets you to create a individual payment account  \r\n1. Your Client\
        \ enter their data on your platform, for example on their profile space. \
        \ \r\n2. Your server calls our Accounts API.  \r\n3. Lemonway creates the\
        \ payment account in your environment.  \r\n4. Your system reads the method\
        \ response and informs the user.   \r\n\r\nWe apply our validation rules for\
        \ different parameters.   \r\n\r\n**Check Injection:**      \r\n* String parameters\
        \ (email, name and so on) must not contain odd characters.  \r\n\r\n**Names\
        \ (first and last name)**    \r\n\r\n* Not made-up names: \"name\", \"nom\"\
        , \"prénom\", \"prenom\", \"lastname\", \"last_name\", \"last name\", \"firstname\"\
        , \"first_name\", \"first name\", \"name\", \"test\", \"unknow\"      \r\n\
        * Names must have at least 2 characters with at least 1 vowel     \r\n* The\
        \ first name must not be the same as the last name     \r\n* Using the same\
        \ the same character 3 times in a row will cause an error    \r\n* We might\
        \ apply other validation rules, for example: in the case VIP (politician)"
      operationId: Accounts_IndividualPost
      parameters:
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterIndividualAccountInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                account:
                  id: Account1234
                  internalId: 13
              schema:
                $ref: '#/components/schemas/RegisterIndividualAccountOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Create a New Individual Account
      tags:
      - Accounts | Create & KYC
      x-codegen-request-body-name: parameters
  /v2/accounts/retrieve:
    post:
      description: "Lets your system to get detailed payment account information including:\
        \ \r\npayment account balance, account type, if the account is blocked, and\
        \ account email address.  \r\nFill at least one search field."
      operationId: Accounts_RetrievePost
      parameters:
      - in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountDetailsBatchInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                accounts:
                - id: "33612345678"
                  internalId: 3673
                  firstname: Jean
                  lastname: Dupont
                  balance: 2390
                  email: jean.dupont@email.com
                  status: 1
                  isblocked: true
                  accountType: 0
                  adresse: null
                  birth: null
                  isDebtor: false
                  payerOrBeneficiary: 1
              schema:
                $ref: '#/components/schemas/AccountDetailsBatchOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Get Detailed Payments Accounts Data
      tags:
      - Accounts | Admin
      x-codegen-request-body-name: parameters
  /v2/accounts/{accountid}/enrolment/init:
    post:
      operationId: Accounts_EnrolmentInit
      parameters:
      - in: path
        name: accountid
        required: true
        schema:
          type: string
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrolmentInitInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                redirecturl: https://postident.deutschepost.de/user/start/?caseId=WNRJY93B7NR3
              schema:
                $ref: '#/components/schemas/EnrolmentInitOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: (Deprecated) Initialize a Deutsche Post POSTIDENT Identification
      tags:
      - Accounts | Admin
      x-codegen-request-body-name: parameters
  /v2/accounts/{accountid}/documents/upload:
    post:
      description: "KYC is a regulatory obligation for Payment Institutions. European\
        \ Directive 2015/849 of the European Parliament states this requirement  \
        \  \r\nfor the prevention of the use of the financial system for the purposes\
        \ of money laundering and terrorist financing.    \r\n\r\nTo upload documents\
        \ for KYC use the following guidelines:  \r\n* Use JPG, JPEG, PNG or PDF (maximum\
        \ 2 pages) for ID documentation only (for example: Passport, Driving Licence\
        \ and Residence Permit).  \r\n* Maximum file upload size is **4MB** for automatic\
        \ verification.    \r\n* Minimum file upload size is **100KB**.  \r\n* Full\
        \ Colour, and straighten file.   \r\n* Card ID: Scan both sides. One file\
        \ should contain both sides (maximum 2 pages).  \r\n\r\n**Important** Documents\
        \ over 4MB and upto 10MB will be manually validated.  \r\n**Note:** TIFF format\
        \ is not accepted.  \r\n**Note:** If a document has been rejected, it is still\
        \ possible to use the same slot to upload a new file."
      operationId: Accounts_DocumentsUploadPost
      parameters:
      - description: Account ID
        in: path
        name: accountid
        required: true
        schema:
          type: string
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadDocumentInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                uploadDocument:
                  id: 521
                  status: 1
                  substatus: 5
                  accountstatus: 5
              schema:
                $ref: '#/components/schemas/UploadDocumentOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Upload Documents for KYC (Know Your Customers)
      tags:
      - Accounts | Create & KYC
      x-codegen-request-body-name: parameters
  /v2/accounts/{accountId}/ultimateBeneficialOwner:
    post:
      description: "The method enables you to link an Ultimate Beneficial Owner to\
        \ a legal payment account.  \r\nTo be validated all Legal accounts need to\
        \ provide their Ultimate Beneficial Owner information.  \r\nAn Ultimate Beneficial\
        \ Owner is a natural person that owns directly or indirectly (i.e. through\
        \ another entity)  \r\nmore than 25% of the shares/stock or voting rights\
        \ of the legal entity, or a person having significant control over it   \r\
        \nthrough other means. Any company established in EEA or EU is obliged to\
        \ obtain and maintain this information with the competent   \r\ncentral register\
        \ (as per article 30 of Directive 2015/843/EU).   \r\nSimilar requirements\
        \ may also exist in other countries.  \r\nIn order to comply with AML-CTF\
        \ legal provisions, payment institutions are required  \r\nto identify the\
        \ beneficial owner(s) of a legal entity(i.e.a company or an organisation).\
        \  \r\nIf the Legal Representative is also an Ultimate Beneficial Owner, \
        \ you can specify this information when creating or updating a legal account."
      operationId: Accounts_AddUltimateBeneficialOwner
      parameters:
      - description: Account ID
        in: path
        name: accountId
        required: true
        schema:
          type: string
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUltimateBeneficialOwnerInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                ultimateBeneficialOwnerId: 0
              schema:
                $ref: '#/components/schemas/AddUltimateBeneficialOwnerOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Create an Ultimate Beneficial Owner
      tags:
      - Accounts | Create & KYC
      x-codegen-request-body-name: parameters
  /v2/accounts/{accountid}/documents/{documentid}/signinit:
    post:
      description: "This call lets you to generate an electronic signature.  \r\n\r\
        \n**Note:** Only SDD mandates can be signed with this method.      \r\n\r\n\
        **Prerequisite:**  A Mandate needs to be registered with **RegisterSddMandate**\r\
        \n\r\n1. A call to `SignDocumentInit` of DirectKit to make the signature request\
        \ and get a token.  \r\n2. A redirection from your website to the WebKit,\
        \ with the token in GET parameter (see Finalize document signature).  \r\n\
        3. A return page where your user will be redirected after the signature."
      operationId: Accounts_DocumentsSignInitPost
      parameters:
      - description: Account Id
        in: path
        name: accountid
        required: true
        schema:
          type: string
      - in: path
        name: documentid
        required: true
        schema:
          format: int64
          type: integer
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignDocumentInitInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                signDocument: signDocument_Token
              schema:
                $ref: '#/components/schemas/SignDocumentInitOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Generate an Electronic Signature of a Document
      tags:
      - Accounts | Admin
      x-codegen-request-body-name: parameters
  /v2/moneyins/card/{cardId}:
    get:
      description: Lets you retrieve card information.
      operationId: MoneyIns_CardGet
      parameters:
      - in: path
        name: cardId
        required: true
        schema:
          format: int64
          type: integer
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example: {}
              schema:
                $ref: '#/components/schemas/GetCardOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Get Card Information
      tags:
      - MoneyIns | Cards
  /v2/moneyins/{accountid}/card:
    get:
      operationId: MoneyIns_CardGet
      parameters:
      - description: Account ID
        in: path
        name: accountid
        required: true
        schema:
          type: string
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                cards:
                - id: 24335
                  isRegistered: false
              schema:
                $ref: '#/components/schemas/AccountCardsOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Get the Card Associated to a Payment Account
      tags:
      - MoneyIns | Cards
  /v2/moneyins/bankwire/iban/count:
    get:
      description: "This endpoint enables you to retrieve the VIBAN count, the remaining\
        \ VIBAN count and the max VIBAN thresholds."
      operationId: MoneyIns_BankwireIbanCountGet
      parameters:
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                activeVibanCount: 100
                inactiveVibanCount: 100
                remainingVibanCount: 900
                maxVibanThreshold: 1000
                maxVibanPerWalletThreshold: 100
              schema:
                $ref: '#/components/schemas/GetVibanCountOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Get VIBANs count
      tags:
      - MoneyIns | Virtual IBAN
  /v2/moneyins/{accountid}/mandate:
    get:
      operationId: MoneyIns_MandateGet
      parameters:
      - description: Account ID
        in: path
        name: accountid
        required: true
        schema:
          type: string
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                mandates:
                - id: 98
                  status: 5
              schema:
                $ref: '#/components/schemas/AccountMandatsOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Get Mandate Associated to a Payment Account
      tags:
      - MoneyIns | Direct Debits
  /v2/moneyins/buynowpaylater/plans:
    get:
      description: "Activated payment plans are summarized in a list that may consist\
        \ of one, or more configured plans.  \r\nWe offer 15 and 30 day deferment\
        \ plans, and pay 3x and 4x plans.  \r\n**Note:** Payment plans are typically\
        \ configured with a member of Lemonway's Implementation team."
      operationId: MoneyIns_GetBnplPaymentPlans
      parameters:
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                paymentPlans:
                - id: 1
                  provider: pledg
                  type: deferred
                  deferredDays: 15
                  description: The payer bears the fees.
                - id: 2
                  provider: pledg
                  type: installments
                  installments: 3
                  description: The marketplace bears the fees.
              schema:
                $ref: '#/components/schemas/GetPaymentPlansOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Get all Actived Payment Plans
      tags:
      - MoneyIns | BNPL
  /v2/moneyins/paymentform/{formid}/completed:
    get:
      description: "This method lets you to retreive the status of a <b>completed\
        \ (or filled) payment form</b><br />\r\nScenario\r\n<ul><li>Using the POST\
        \ /moneyins/card/paymentform method, you have generated a re-usable Payment\
        \ Form (with the form Id is for example 579c7def4bb0411da294d9b57c2c1323)</li><li>Some\
        \ clients filled the form and make payment.</li><li>Each time a client completes\
        \ the form and click on the <b>Accept and Pay</b> button, Lemonway will store\
        \ the completed form and generate a new id for it, for example 7e98be392a5e45f6bc357a9ab8c623d2</li><li>The\
        \ initial status of the <b>completed form</b> is pending. When client finish\
        \ the payment process, it will switch to PAID. It could also switch to CANCEL\
        \ or ERROR.</li><li>In this example, the completed form 7e98.. was created\
        \ from the parent form 579c..The form 579c.. is reusable, which means it can\
        \ be completed several time by different clients, so it could have many completed\
        \ version.This function allows you to retreive the status of a the filled\
        \ form via its id (7e98..).</li></ul>"
      operationId: MoneyIns_PaymentFormCompletedGet
      parameters:
      - in: path
        name: formid
        required: true
        schema:
          type: string
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                form:
                  parentId: string
                  parentComment: string
                  amountTot: string
                  status: PENDING | PAID | ERROR | CANCEL
                  utcDate: 1474376289
                  created: 1474290552
                  id: 579c7def4bb0411da294d9b57c2c1323
                  optId: Order1234
                  accountPayer: "8888"
                  accountReceiver: "9999"
                  comment: Commande numéro 245
                  returnUrl: http://YourCompany.com/success
                  cancelUrl: http://YourCompany.com/cancel
                  errorUrl: http://YourCompany.com/error
                  firstNamePayer: Jean
                  lastNamePayer: DUPONT
                  emailPayer: jean.dupont@email.com
              schema:
                $ref: '#/components/schemas/GetCompletedPaymentFormOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Get Details of a Completed Payment Form
      tags:
      - MoneyIns | Pay by Link
  /v2/moneyins/{accountid}/mandate/{mandateid}/document:
    get:
      description: Download a mandate document that is registered to one of your payment
        accounts.
      operationId: MoneyIns_MandateGetDocument
      parameters:
      - description: Account Id
        in: path
        name: accountid
        required: true
        schema:
          type: string
      - description: Id of the registered SDD Mandate
        in: path
        name: mandateid
        required: true
        schema:
          format: int64
          type: integer
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                document: RXhlbXBsZSBwZGYgYmFzZTY0Cg==...
                name: mandate.pdf
              schema:
                $ref: '#/components/schemas/MandateGetDocumentOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Get Mandate Document
      tags:
      - MoneyIns | Direct Debits
  /v2/moneyins/paybybank/transfer/banks:
    get:
      description: "Returns the list of supported Banks to make Pay By Bank transfers.\
        \ This method enables you to design, customize and host a bank selection site,\
        \ or alternatively a bank's bankid can be retrieved from the bank list.\r\n\
        id can then be used to send your end-user directly to their bank website.\
        \ <br /><br /><b>How does it work?</b><br />\r\n\r\n1. Call the method GET\
        \ /v2/moneyins/paybybank/transfer/banks. Ensure that you use the bank's country\
        \ code in the Query Parameters to retrieve a list of banks. <br /><p></p><b>Note:</b>\
        \ If you want a comprehensive list of all supported banks do not specify a\
        \ country code. <br /><b>Note:</b> Currently there is not a way to search\
        \ for a specific bank in a country. Therefore when you create the query FR\
        \ for example, a list of French banks is displayed in the response. You will\
        \ be then required to identify the end-user's bank. <br /><p></p>\r\n2. If\
        \ you have your end-user's bankId, and would like to direct them their bank\
        \ each time they select Pay by Bank on your website: <br /><ul><li>Use the\
        \ method POST v2/moneyins/paybybank/transfer/init using the bankId in the\
        \ request body. You can then use the redirectURL and id (from the response)\
        \ to send the end-user directly to their bank without them ever using a bank\
        \ selection process.</li></ul>"
      operationId: MoneyIns_GetMoneyInBanks
      parameters:
      - description: "Comma separated string of ISO Alpha-2 country codes.\r\nAvailable\
          \ country codes include:  \r\n- France (FR)   \r\n- Spain (ES)   \r\n- Italy\
          \ (IT)   \r\n- Germany (DE)   \r\n- Portugal (PT)"
        in: query
        name: countryCodes
        schema:
          type: string
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                banks:
                  FR:
                  - countryCode: FR
                    parentName: BNP Paribas
                    logoURL: https://cdn.tink.se/provider-images/fr/fr-bnpparibas.png
                    bankName: BNP Paribas
                    bankId: fr-bnpparibas-ob
                    segments:
                    - PERSONAL
                  - countryCode: FR
                    parentName: Crédit Agricole
                    logoURL: https://cdn.tink.se/provider-images/fr/fr-creditagricole.png
                    bankName: Banque Chalus
                    bankId: fr-creditagricolebanquechalus-ob
                    segments:
                    - PERSONAL
              schema:
                $ref: '#/components/schemas/GetMoneyInBanksOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Get Pay by Bank List
      tags:
      - MoneyIns | Pay by Bank
  /v2/moneyins/bankwire:
    get:
      description: "Use `GetMoneyInIBANStatus` to obtain the list of all Money-In\
        \ by fund transfer (not by card payment) received by Lemonway, starting from\
        \ an entry date given in input to this method."
      operationId: MoneyIns_BankwireGet
      parameters:
      - description: UTC Unix Timestamp
        in: query
        name: updateDate
        required: true
        schema:
          pattern: "^-?\\d{1,12}$"
          type: string
      - description: End Date tUTC Unix Timestamp
        in: query
        name: updateEndDate
        required: true
        schema:
          pattern: "^-?\\d{1,12}$"
          type: string
      - description: "Index start from 1, let null to get all"
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: "Default 20, let it null if no pagination"
        in: query
        name: limit
        schema:
          format: int32
          type: integer
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                transactions:
                  value:
                  - receiverAccountId: pizza
                    creditAmount: 1500
                    scheduledNumber: null
                    refundAmount: 0.0
                    bankReference: null
                    ChequeSendingAddress_CorporateName: null
                    ChequeSendingAddress_Street: null
                    ChequeSendingAddress_City: null
                    ChequeSendingAddress_PostCode: null
                    id: 255
                    method: 0
                    date: 1749028528
                    commissionAmount: 100
                    comment: Order number 2457765AX2
                    status: 0
                    executionDate: 0
                    reference: null
              schema:
                $ref: '#/components/schemas/GetMoneyInIBANDetailsOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Search for a Money-In by Fund Transfer
      tags:
      - MoneyIns | Transfers In
  /v2/moneyins/sdd:
    get:
      description: Returns the list of Money-In by SDD which status has changed since
        the input date.
      operationId: MoneyIns_SddGet
      parameters:
      - description: Unique ID Generated by your Server
        in: query
        name: reference
        schema:
          maxLength: 50
          minLength: 0
          type: string
      - description: UTC Unix Timestamp
        in: query
        name: updateDate
        schema:
          pattern: "^-?\\d{1,12}$"
          type: string
      - description: End Date UTC Unix Timestamp
        in: query
        name: updateEndDate
        schema:
          pattern: "^-?\\d{1,12}$"
          type: string
      - description: "Index start from 1, let null to get all"
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: "Default 20, let it null if no pagination"
        in: query
        name: limit
        schema:
          format: int32
          type: integer
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                transactions:
                  value:
                  - receiverAccountId: pizza
                    creditAmount: 1500
                    scheduledNumber: null
                    refundAmount: 1500.0
                    bankReference: null
                    ChequeSendingAddress_CorporateName: null
                    ChequeSendingAddress_Street: null
                    ChequeSendingAddress_City: null
                    ChequeSendingAddress_PostCode: null
                    id: 255
                    method: 0
                    date: 1749028528
                    commissionAmount: 100
                    comment: "245"
                    status: 0
                    executionDate: 0
                    reference: null
              schema:
                $ref: '#/components/schemas/GetMoneyInSddOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: List of Money-In by SEPA Direct Debit (SDD)
      tags:
      - MoneyIns | Direct Debits
  /v2/moneyins/cheque:
    get:
      description: "Use GET /moneyins/cheque to obtain the list of all money-in by\
        \ cheque (received by Lemonway), starting from an entry date given in input\
        \ to this method, or by merchant token."
      operationId: MoneyIns_ChequeGet
      parameters:
      - in: query
        name: updateDate
        schema:
          pattern: "^-?\\d{1,12}$"
          type: string
      - description: End Date UTC Unix Timestamp
        in: query
        name: updateEndDate
        schema:
          pattern: "^-?\\d{1,12}$"
          type: string
      - description: "Cheque Payment (by default) or Pagaré:\r\n15 = Cheque payment.<br/>23\
          \ = Pagaré."
        in: query
        name: chequeType
        schema:
          enum:
          - 15
          - 23
          format: int32
          type: integer
      - description: Unique ID generated by your server
        in: query
        name: reference
        schema:
          maxLength: 50
          minLength: 0
          type: string
      - description: "Index start from 1, let null to get all"
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: "Default 20, let it null if no pagination"
        in: query
        name: limit
        schema:
          format: int32
          type: integer
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                transactions:
                  value:
                  - receiverAccountId: pizza
                    creditAmount: 1500
                    scheduledNumber: null
                    refundAmount: 0.0
                    bankReference: "12345678"
                    ChequeSendingAddress_CorporateName: null
                    ChequeSendingAddress_Street: null
                    ChequeSendingAddress_City: null
                    ChequeSendingAddress_PostCode: null
                    id: 255
                    method: 0
                    date: 1749028528
                    commissionAmount: 100
                    comment: Order number 2457765AX2
                    status: 0
                    executionDate: 0
                    reference: null
              schema:
                $ref: '#/components/schemas/GetMoneyInChequeDetailsOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Search for Cheque Money-In by Date or by Token
      tags:
      - MoneyIns | Cheque
  /v2/moneyins:
    get:
      description: Retrieves the details of a Payment that has previously been initiated.
      operationId: MoneyIns_MoneyInGet
      parameters:
      - description: Money-In ID
        in: query
        name: transactionId
        schema:
          format: int64
          type: integer
      - description: Money-In Comment
        in: query
        name: transactionComment
        schema:
          maxLength: 140
          minLength: 0
          type: string
      - description: Unique ID generated by your server. This ID can be used as a
          reference for a search field when looking for operation details.
        in: query
        name: transactionMerchantToken
        schema:
          maxLength: 50
          minLength: 0
          type: string
      - description: "UTC Unix timestamp, in order to return transactions initialized\
          \ after it"
        in: query
        name: startDate
        schema:
          pattern: "^-?\\d{1,12}$"
          type: string
      - description: "UTC Unix timestamp, in order to return transactions initialized\
          \ before it"
        in: query
        name: endDate
        schema:
          pattern: "^-?\\d{1,12}$"
          type: string
      - description: "Index start from 1, let null to get all"
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: "Default 20, let it null if no pagination"
        in: query
        name: limit
        schema:
          format: int32
          type: integer
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                transactions:
                  value:
                  - receiverAccountId: pizza
                    creditAmount: 500
                    scheduledNumber: null
                    card:
                      id: 0
                      is3DS: true
                      country: FRA
                      authorizationNumber: "455622"
                      maskedNumber: 4972XXXXXXXXXX03
                      type: VISA
                      isRegistered: false
                      holderName: Peter PAN
                    refundAmount: 0.0
                    bankReference: null
                    ChequeSendingAddress_CorporateName: null
                    ChequeSendingAddress_Street: null
                    ChequeSendingAddress_City: null
                    ChequeSendingAddress_PostCode: null
                    id: 255
                    method: 0
                    date: 1749028528
                    commissionAmount: 200
                    comment: Order number 245776
                    status: 0
                    executionDate: 0
                    reference: null
                    authorization:
                      id: 250
                      status: 20
                      remainingAmount: 0
                  - receiverAccountId: pizza
                    creditAmount: 500
                    scheduledNumber: null
                    card:
                      id: 0
                      is3DS: true
                      country: FRA
                      authorizationNumber: "455622"
                      maskedNumber: 4972XXXXXXXXXX03
                      type: VISA
                      isRegistered: false
                      holderName: Peter PAN
                    refundAmount: 0.0
                    bankReference: null
                    ChequeSendingAddress_CorporateName: null
                    ChequeSendingAddress_Street: null
                    ChequeSendingAddress_City: null
                    ChequeSendingAddress_PostCode: null
                    id: 255
                    method: 0
                    date: 1749028528
                    commissionAmount: 200
                    comment: Order number 245776
                    status: 0
                    executionDate: 0
                    reference: null
                    childTransactions:
                    - id: 250
                      date: 0
                      commissionAmount: 0
                      comment: null
                      amount: 100
                      refundAmount: 0.0
                      executionDate: 0
                      status: 0
                      reference: null
                  - receiverAccountId: hotel
                    creditAmount: 500
                    scheduledNumber: null
                    refundAmount: 0.0
                    bankReference: null
                    ChequeSendingAddress_CorporateName: null
                    ChequeSendingAddress_Street: null
                    ChequeSendingAddress_City: null
                    ChequeSendingAddress_PostCode: null
                    buyNowPayLaterInfo:
                      paymentPlanId: 1
                      type: installments
                      secondInstallmentPaymentDate: 2025-08-04
                    id: 259
                    method: 30
                    date: 1749028528
                    commissionAmount: 200
                    comment: Order number 2457790
                    status: 0
                    executionDate: 0
                    reference: null
              schema:
                $ref: '#/components/schemas/GetMoneyInTransDetailsOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Retrieve Payment Details
      tags:
      - MoneyIns | Cards
  /v2/moneyins/{transactionid}/cancel:
    put:
      description: "With the PUT /moneyins/{transactionid}/cancel method, you can\
        \ cancel a pre-authorization / SEPA Direct Debit (SDD) request."
      operationId: MoneyIns_CancelPut
      parameters:
      - in: path
        name: transactionid
        required: true
        schema:
          format: int64
          type: integer
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelMoneyInInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                transaction:
                  receiverAccountId: pizza
                  creditAmount: 1500
                  scheduledNumber: null
                  card:
                    id: 0
                    is3DS: true
                    country: FRA
                    authorizationNumber: "4564"
                    maskedNumber: 4972XXXXXXXXXX03
                    type: VISA
                    isRegistered: false
                    holderName: Peter PAN
                  refundAmount: 0.0
                  bankReference: null
                  ChequeSendingAddress_CorporateName: null
                  ChequeSendingAddress_Street: null
                  ChequeSendingAddress_City: null
                  ChequeSendingAddress_PostCode: null
                  id: 255
                  method: 0
                  date: 1749028528
                  commissionAmount: 200
                  comment: order 245
                  status: 0
                  executionDate: 0
                  reference: null
              schema:
                $ref: '#/components/schemas/CancelMoneyInOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Cancel a Money-In
      tags:
      - MoneyIns | Direct Debits
      - MoneyIns | Cards
      x-codegen-request-body-name: parameters
  /v2/moneyins/card/{cardid}/unregister:
    put:
      description: This method lets you unregister (break the link) between a card
        and a payment account.
      operationId: MoneyIns_CardUnregisterPut
      parameters:
      - in: path
        name: cardid
        required: true
        schema:
          format: int64
          type: integer
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnregisterCardInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                cardId: 0
              schema:
                $ref: '#/components/schemas/UnregisterCardOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Unregister a Card Token
      tags:
      - MoneyIns | Cards
      x-codegen-request-body-name: parameters
  /v2/moneyins/{transactionid}/validate:
    put:
      description: "This call is only used in deferred payment. Pre-authroriztion\
        \ validation can only be done once.\r\n1. After initiating a pre-authorized\
        \ Web Payment using `POST /moneyins/card/webinit`, you received a Transaction\
        \ Id from Lemonway.\r\n2. Depending on the number you specified as captureDelayedDays,\
        \ funds are blocked between 1 to 6 days maximum.\r\n3. To validate the pre-authorization,\
        \ you need to call `PUT /moneyins/{transactionid}/validate`. If the capture\
        \ is a success, then the original transaction status switches to Success."
      operationId: MoneyIns_ValidatePut
      parameters:
      - in: path
        name: transactionid
        required: true
        schema:
          format: int64
          type: integer
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoneyInValidateInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                transaction:
                  receiverAccountId: Pizza56
                  creditAmount: 1500
                  scheduledNumber: null
                  refundAmount: 0.0
                  bankReference: null
                  ChequeSendingAddress_CorporateName: null
                  ChequeSendingAddress_Street: null
                  ChequeSendingAddress_City: null
                  ChequeSendingAddress_PostCode: null
                  id: 255
                  method: 0
                  date: 1749028528
                  commissionAmount: 200
                  comment: null
                  status: 0
                  executionDate: 0
                  reference: null
                  authorization:
                    id: 100
                    status: 20
                    remainingAmount: null
              schema:
                $ref: '#/components/schemas/MoneyInValidateOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Capture a Deferred Payment
      tags:
      - MoneyIns | Cards
      x-codegen-request-body-name: parameters
  /v2/moneyins/paymentform/{formid}/disable:
    put:
      description: Disable a payment form created by CreatePaymentForm
      operationId: MoneyIns_PaymentFormDisablePut
      parameters:
      - in: path
        name: formid
        required: true
        schema:
          type: string
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                message: e6a3bbb8d6864cdba6e311d65e3d2005
              schema:
                $ref: '#/components/schemas/DisablePaymentFormOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Disable a Payment Form
      tags:
      - MoneyIns | Pay by Link
  /v2/moneyins/ideal/{transactionid}/confirm:
    put:
      description: "This method finalizes the credit of a payment account by iDeal,\
        \ after the user has returned to your website.<br />\r\n            You can\
        \ only finalize the operation once."
      operationId: MoneyIns_IDealConfirmPut
      parameters:
      - in: path
        name: transactionid
        required: true
        schema:
          format: int64
          type: integer
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                transactions:
                  receiverAccountId: Pizza56
                  creditAmount: 1500
                  scheduledNumber: null
                  refundAmount: 0.0
                  bankReference: null
                  ChequeSendingAddress_CorporateName: null
                  ChequeSendingAddress_Street: null
                  ChequeSendingAddress_City: null
                  ChequeSendingAddress_PostCode: null
                  id: 255
                  method: 0
                  date: 1749028528
                  commissionAmount: 200
                  comment: Order number 2457765AX2
                  status: 0
                  executionDate: 0
                  reference: null
              schema:
                $ref: '#/components/schemas/MoneyInIDealConfirmOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Finalize an iDeal Payment
      tags:
      - MoneyIns | Local Payments
  /v2/moneyins/sdd/mandate/{mandatid}/unregister:
    put:
      description: This allows you to deactivate a mandate
      operationId: MoneyIns_SddMandateUnregisterPut
      parameters:
      - in: path
        name: mandatid
        required: true
        schema:
          format: int64
          type: integer
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnregisterSddMandateInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                SDDMandate:
                  id: 255
                  status: 8
              schema:
                $ref: '#/components/schemas/UnregisterSddMandateOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Deactivate a Mandate
      tags:
      - MoneyIns | Direct Debits
      x-codegen-request-body-name: parameters
  /v2/moneyins/card/direct/{transactionid}/3dconfirm:
    put:
      description: "This method finalizes the credit of a wallet by card after 3D\
        \ Secure authentication of the client:<br />\r\n1. After initiating a Direct\
        \ Payment using <b>POST /moneyins/card/direct/3dinit</b>, you receive an Authentication\
        \ URL and a Transaction Id. If you want to register a card for future payments\
        \ set **registerCard=true**\r\n2. With the Authentication URL, you are able\
        \ to redirect the end-user to the ACS (Bank Authentication Server) Page\r\n\
        3. After 3D Secure Authentication, you will be called back on the ReturnURL\r\
        \n4. You need to then call <b>POST /moneyins/card/direct/{transactionid}/3dauthenticate</b>\
        \ to verify the authentication process was done.\r\n5. If the authentication\
        \ was done then call <b>PUT /moneyins/card/direct/{transactionid}/3dconfirm</b>\
        \ specifying the return Transaction ID to finalize the payment. <br />\r\n\
        For Subscriptions with equal recurring amounts: for the initial subscription\
        \ payment, use the <b>POST /moneyins/card/direct/3dinit</b> and then <b>POST\
        \ /moneyins/card/direct/{transactionid}/3dauthenticate</b> and <b>PUT /moneyins/card/direct/{transactionid}/3dconfirm</b>\
        \ Ensure that you set: <b>registerCard=true</b> Use POST /moneyins/card/{cardid}/rebill\
        \ for all subsequent payments."
      operationId: MoneyIns_CardDirect3DConfirmPut
      parameters:
      - in: path
        name: transactionid
        required: true
        schema:
          format: int64
          type: integer
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoneyIn3DConfirmInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                transaction:
                  receiverAccountId: Pizza56
                  creditAmount: 1500
                  scheduledNumber: null
                  card:
                    id: 0
                    is3DS: true
                    country: FRA
                    maskedNumber: "43245"
                    isRegistered: false
                    holderName: Peter PAN
                  refundAmount: 0.0
                  bankReference: null
                  ChequeSendingAddress_CorporateName: null
                  ChequeSendingAddress_Street: null
                  ChequeSendingAddress_City: null
                  ChequeSendingAddress_PostCode: null
                  id: 255
                  method: 0
                  date: 1749028528
                  commissionAmount: 100
                  comment: Order number 2457765AX2
                  status: 0
                  executionDate: 0
                  reference: null
              schema:
                $ref: '#/components/schemas/MoneyIn3DConfirmOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Finalize a Direct Payment (PCI-DSS compliant only)
      tags:
      - MoneyIns | Cards
      x-codegen-request-body-name: parameters
  /v2/moneyins/sdd/init:
    post:
      description: "SEPA Direct Debit requests are sent to our bank every working\
        \ day at 10:30am (CET).<br />\r\nPrequisites:<br />\r\n1. You allow your client\
        \ to fill in a mandate, and pre-registers it with Lemonway, by calling POST\
        \ /moneyins/sdd/mandate<br />\r\n2. Follow the SignDocumentInit process in\
        \ order to electronically sign the mandate<br />\r\nRequest the direct debit:<br\
        \ />\r\n1. You call POST /moneyins/sdd/init to request a debit<br />\r\n2.\
        \ Lemonway sends the request to the bank every working day at 10:30am (CET).<br\
        \ />\r\n3. Once the request is sent to the bank, the debit on the client's\
        \ bank account will happens about 1 working day later. If you indicate a date,\
        \ the debit will happen on the given date.<br />\r\n4. When Lemonway receives\
        \ the payment, the SDD payment will be validated and the client payment account\
        \ will be credited<br />\r\n5. You can call GET /moneyins/sdd once a day in\
        \ order to know which payments have been validated.You can also use our notification\
        \ functionality.<br />\r\n**Important: Setting up an SDD with Italian Banks**.\
        \ This rule **only applies to the first** B2B direct debit request for an\
        \ Italian IBAN.    \r\nThereafter, **all future debits** take place within\
        \ the **standard 1-2 day** time frame. The mandate validation process for\
        \ Italian banks  \r\ntakes approximately 14 calendar days from the reception\
        \ of the first SDD request. Even if you initially specify a debit date, the\
        \ funds  \r\nwill only be debited 14 days after the request date.  \r\n**Example:**\
        \ If you specify that you would like the first Direct Debit to take place\
        \ on 4th April 2022 and you submit a request before 10:30am (CET)  \r\non\
        \ the 30th March 2022. The direct debit will take place on 18th April 2022."
      operationId: MoneyIns_SddInitPost
      parameters:
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
        name: PSU-Accept-Language
        schema:
          type: string
      - description: IP address of the final client (PSU).
        in: header
        name: PSU-IP-Address
        required: true
        schema:
          type: string
      - description: User-agent of the final client (PSU).
        in: header
        name: PSU-User-Agent
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoneyInSddInitInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                transaction:
                  receiverAccountId: Pizza56
                  creditAmount: 1500
                  scheduledNumber: null
                  refundAmount: 0.0
                  bankReference: null
                  ChequeSendingAddress_CorporateName: null
                  ChequeSendingAddress_Street: null
                  ChequeSendingAddress_City: null
                  ChequeSendingAddress_PostCode: null
                  id: 677
                  method: 0
                  date: 1749028528
                  commissionAmount: 200
                  comment: "245"
                  status: 0
                  executionDate: 0
                  reference: Dze8778
              schema:
                $ref: '#/components/schemas/MoneyInSddInitOutput'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: InternalServerError
      summary: Request a SEPA Direct Debit (SDD)
      tags:
      - MoneyIns | Direct Debits
      x-codegen-request-body-name: parameters
  /v2/moneyins/ideal/init:
    post:
      description: "You will need 3 integration points on your code:\r\n<ul><li>One\
        \ call to Lemonway DirectKit API to init iDeal payment to credit the payment\
        \ account</li><li>One redirection from your website to the return URL by IDealInit</li><li>One\
        \ call to Lemonway DirectKit API to finalize the iDeal payment</li></ul>"
      operationId: MoneyIns_IDealInitPost
      parameters:
      - description: Authorization bearer (OAuth 2)
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Response language accepted by final client (PSU). English by
          default
        in: header
[...]
